<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Formulaire</title>
  </head>
  <body>
    
    <header>
        <div class="nav-content">
      <nav>
        <ul>
          <a href="" class="item item-1"><li>Home</li></a>
          <a href="" class="item item-2"><li>Sign</li></a>
          <a href="" class="item item-3"><li>Signup</li></a>
          <a href="" class="item item-4"><li>Contacts</li></a>
        </ul>
      </nav>
    </div>
    </header>


    <div class="footer-content">
      <footer>
        <p>&copy; - 2024</p>
      </footer>
    </div>
  </body>
</html>
